body{
    background-image:url("https://cdn.discordapp.com/attachments/1170205921775992945/1171838920414220318/pexels-jessika-estefanny-18942112.jpg?ex=655e230a&is=654bae0a&hm=163bd546f5e3b50c6f4d15207845961c49e48b9a9e245d84131470af7431d295&");
    color:white;
}

header{
  text-align:center;
}
