body{
    background-image:url("https://cdn.discordapp.com/attachments/1170205921775992945/1171840675537506396/pexels-ernesto-perez-18925583.jpg?ex=655e24ac&is=654bafac&hm=7453cfdc3647cce904fc7f31d71d1c916829cfa2f3d6a12c9291cb0cb51968bf&");
    color:white;
}

header{
  text-align:center;
}
