body{
    background-image:url("https://cdn.discordapp.com/attachments/1170205921775992945/1171839326208929855/wp4961946.jpg?ex=655e236b&is=654bae6b&hm=159a43dea38d4e5fcced8a48a3e292168a65cd6396c85d53dbac220085e618de&");
    color:white;
}

header{
  text-align:center;
}
