body{
  background-image:"https://cdn.discordapp.com/attachments/1170205921775992945/1170716493705642035/image.png?ex=655a0db2&is=654798b2&hm=526319d9794e8144176b9f71542afdae378d8a5eed5b9c9cf949ad3ad783ceab&";
  color:white;
}

header{
  text-align:center;
}
